@import '../../../../assets/Admin/css/restortCss/admin-2.purged.css';
@import '../../../../assets/Admin/css/font-end-some/all.css';
p.ErrorSignIn{
    padding-left: 10px;
    color: red;
    padding-top: 7px;
    font-size: small;
    display: none;

}
.redborder{
    border-color: #ff8181;
}
.errortext{
    display: block;
}