
:host ::ng-deep app-app-user{
    display: flex
    ;
        flex-direction: column;
        height: 100%;
        overflow: hidden;

  }

  :host ::ng-deep app-app-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  