<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [(ngModel)]="RegisterUser.FirstName" name="FirstName" type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input  [(ngModel)]="RegisterUser.LastName" name="LastName" type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input  [(ngModel)]="RegisterUser.Email" name="Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div>
                                <div class="col-sm-6">
                                    <input  [(ngModel)]="RegisterUser.Address" name="Address" type="text" class="form-control form-control-user"
                                       placeholder="Country">
                                </div>
                            </div>
                            <div class="form-group">
                                <input  [(ngModel)]="RegisterUser.PhoneNumber" name="PhoneNumber" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Phone Number">
                            </div>
                              <!--  -->
                            <div class="form-group date-birth">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="RegisterUser.Birthday"   name="Birthday" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Date of birth">

                                <mat-datepicker-toggle  class="icon-date" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker class="picker-date" #picker></mat-datepicker>

                                <!-- <div><i class="fa-solid fa-calendar-days"></i></div>  -->
                            </div>
                            <div class="form-group">
                                <input  [(ngModel)]="RegisterUser.UserAccout" name="UserAccout" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="User Accout">
                            </div>
                          
                          
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input  [(ngModel)]="RegisterUser.PassWord" name="PassWord" type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input  [(ngModel)]="RegisterUser.RepeatPassword" name="RepeatPassword" type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>

                            <a (click)="submit()"  class="btn btn-primary btn-user btn-block">
                                Register Account
                            </a>
                            <hr>
                            <!-- <a routerLink="/sign-in" href="/sign-in" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a   class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a> -->
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" routerLink="/forgot">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" routerLink="/sign-in">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
