<div class="post-content">
    <textarea [(ngModel)]="Content" placeholder="Bạn đang nghĩ gì thế ?" name="" id=""></textarea>
</div>
<div class="view-file">
   <label *ngIf="this.ListFile.length == 0" for="add-image" class="no-file">
        <div class="icon"><i class="fa-solid fa-files-medical"></i></div>
        <h6>Thêm ảnh/video</h6>
   </label>
   <input (input)="onFileSelected($event)" style="display: none;" id="add-image" type="file" multiple>
   <ul *ngIf="this.ListFile.length > 0" class="list-file">
        <ng-container *ngFor="let file of this.ListFile" >
            <li class="file-container">
                <img src="{{file.previewUrl}}" alt="">
            </li>
       </ng-container>
       <div (click)="removeFile()" class="close-button">
        <i class="fa-light fa-xmark"></i>
       </div>
       <div class="action">
           <div  class="button-action">
                <i class="fa-solid fa-pen"></i>
                <p>Chỉnh sửa tất cả</p>
           </div>
           <label class="button-action">
                 <i class="fa-solid fa-files-medical"></i>
                 <p>Thêm ảnh</p>
                 <input (input)="onAddFileSelected($event)" style="display: none;" id="add-image" type="file" multiple>
           </label>
       </div>
   </ul>


  
</div>
