<section id="menu-main-home">
    <ul id="menu-home">
        <li>
            <a href="">
                <i class="fa-regular fa-user-group"></i>
                <p>Bạn bè</p>
            </a>
        </li>   
        <li>   
            <a href="">             
                <i class="fa-regular fa-clock-rotate-left"></i>
                <p>Kỷ niệm</p>           
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-bookmark"></i>
                <p>Đã lưu</p>
             </a>
        </li>
        
        <li>
            <a href="">
                <i class="fa-regular fa-people-group"></i>
                <p>Nhóm</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-airplay"></i>
                <p>Video</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-store"></i>
                <p>Marketplace</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-list-timeline"></i>
                <p>Bảng feed</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-regular fa-gamepad"></i>
                <p>Chơi game</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-money-check-dollar-pen"></i>
                <p>Đơn đặt hàng và thanh toán </p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-chart-column"></i>
                <p>Trình quản lý quảng cáo</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-regular fa-clapperboard-play"></i>
                <p>Reels</p>
            </a>
        </li>
    </ul>
</section>