<div class="friend-menu">
    <div class="menu-header">
        <h2>Bạn bè</h2>
        <i class="fa-solid fa-gear settings-icon"></i>
    </div>
    <ul>
        <li routerLink="/app-user/friend/list-friend"  routerLinkActive="active">
            <i class="fa-solid fa-users"></i>
            <span>Tất cả bạn bè</span>
            <i class="fa-solid fa-chevron-right right-arrow"></i>
        </li>
        <li routerLink="/app-user/friend/friend-request" routerLinkActive="active">
            <i class="fa-solid fa-user-plus"></i>
            <span>Lời mời kết bạn</span>
            <i class="fa-solid fa-chevron-right right-arrow"></i>
        </li>
        <li  routerLink="/app-user/friend/list-search-friend" routerLinkActive="active" >
            <i class="fa-solid fa-user-group"></i>
            <span>Thêm bạn</span>
            <i class="fa-solid fa-chevron-right right-arrow"></i>
        </li>
      
      
    </ul>
</div>